{
    "apps": ["default"],
    "credentials": {
        "local": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "staging": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "production": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        }
    },
    "appengine": {
        "local": {
            "MIN_LOG_SEVERITY": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "MYSQL_PUSH_HOST": "",
            "MYSQL_PUSH_USER": "",
            "MYSQL_PUSH_PASSWORD": "",
            "MYSQL_PUSH_DB": ""
        },
        "staging": {
            "MIN_LOG_SEVERITY": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "MYSQL_PUSH_HOST": "",
            "MYSQL_PUSH_USER": "",
            "MYSQL_PUSH_PASSWORD": "",
            "MYSQL_PUSH_DB": ""
        },
        "production": {
            "MIN_LOG_SEVERITY": "INFO",
            "INTERNAL_AUTH_TOKEN": "",
            "MYSQL_PUSH_HOST": "",
            "MYSQL_PUSH_USER": "",
            "MYSQL_PUSH_PASSWORD": "",
            "MYSQL_PUSH_DB": ""
        }
    }
}
