{
    "apps": ["default"],
    "credentials": {
        "local": {
            "type": "",
            "project_id": "",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "staging": {
            "type": "",
            "project_id": "staging-push-rabee-jp",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        },
        "production": {
            "type": "",
            "project_id": "push-rabee-jp",
            "private_key_id": "",
            "private_key": "",
            "client_email": "",
            "client_id": "",
            "auth_uri": "",
            "token_uri": "",
            "auth_provider_x509_cert_url": "",
            "client_x509_cert_url": ""
        }
    },
    "values": {
        "local": {
            "MIN_LOG_LEVEL": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "FCM_SERVER_KEY": "",
            "MYSQL_PUSH_HOST": "tcp(127.0.0.1:3306)",
            "MYSQL_PUSH_USER": "root",
            "MYSQL_PUSH_PASSWORD": "password",
            "MYSQL_PUSH_DB": "push"
        },
        "staging": {
            "MIN_LOG_LEVEL": "DEBUG",
            "INTERNAL_AUTH_TOKEN": "",
            "FCM_SERVER_KEY": "",
            "MYSQL_PUSH_HOST": "",
            "MYSQL_PUSH_USER": "",
            "MYSQL_PUSH_PASSWORD": "",
            "MYSQL_PUSH_DB": ""
        },
        "production": {
            "MIN_LOG_LEVEL": "INFO",
            "INTERNAL_AUTH_TOKEN": "",
            "FCM_SERVER_KEY": "",
            "MYSQL_PUSH_HOST": "",
            "MYSQL_PUSH_USER": "",
            "MYSQL_PUSH_PASSWORD": "",
            "MYSQL_PUSH_DB": ""
        }
    }
}
